<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
              <p class="text-white-50 mb-5">Please fill all of the following !</p>

              <div class="form-outline form-white mb-4">
                <input [(ngModel)]="loginRegisterService.name" [ngModelOptions]="{standalone: true}" id="name" class="form-control form-control-lg" placeholder="Enter name" required/>
              </div>

              <div class="form-outline form-white mb-4">
                <input [(ngModel)]="loginRegisterService.surname" [ngModelOptions]="{standalone: true}" id="surname" class="form-control form-control-lg" placeholder="Enter surname" required/>
              </div>

              <div class="form-outline form-white mb-4">
                <input [(ngModel)]="loginRegisterService.email" [ngModelOptions]="{standalone: true}" id="email" class="form-control form-control-lg" placeholder="Enter email" required />
              </div>

              <div class="form-outline form-white mb-4">
                <input [(ngModel)]="loginRegisterService.password" [ngModelOptions]="{standalone: true}" id="password" class="form-control form-control-lg" placeholder="Enter password" required />
              </div>

              <button class="btn btn-outline-light btn-lg px-5" type="submit" (click)="save()">Register</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
