button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 15%;
  border-radius: 100px;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

.eventCard{
  border-radius: 0px;
  background-color: white;
  position: relative;
  display: inline-block;
}

.counterOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
}