<head>
  <meta charset="utf-8">
  <script src="https://kit.fontawesome.com/9ce6b11ca0.js" crossorigin="anonymous"></script>
</head>

  <body>
    <div class="main_page_container">
        <section class="main_page_section" id="home">
            <h1>HOME</h1>
            <span>
                HERE
                THE
                MAIN
                UPCOMING
                EVENT
                WILL
                BE
                SHOWN
                WITH
                COUNTER
                AND
                BUTTONS
                FOR
                BUYING
                ENTRY

                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                Proin pede metus, vulputate nec, fermentum fringilla, vehicula vitae, justo. 
                In enim a arcu imperdiet malesuada. Mauris dolor felis, sagittis at, luctus sed, aliquam non, tellus. 
                Donec vitae arcu. Nullam lectus justo, vulputate eget mollis sed, tempor sed magna. Fusce dui leo, imperdiet in, aliquam sit amet, 
                feugiat eu, orci. Nullam sit amet magna in magna gravida vehicula. Nulla pulvinar eleifend sem. Itaque earum rerum hic tenetur a 
                sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. Praesent
                in mauris eu tortor porttitor accumsan. Nullam lectus justo, vulputate eget mollis sed, tempor sed magna. Donec iaculis gravida
                nulla. Phasellus et lorem id felis nonummy placerat. Nam quis nulla. Duis viverra diam non justo. Aenean fermentum risus id tortor.
                Donec iaculis gravida nulla.
            </span>
        </section>
        <section class="main_page_section" id="about">
            <app-card title="O akci" text="
            Grove Night je soukroumá taneční párty pro přátele a přátele našich přátel která se koná už od roku 2021. Fungujeme na zajímavém nápadu, 
            kdy každý, který se chce zúčastnit, zaplatí daný příspěvěk a následně má právo na akci přijít, bavit se, pít a jíst celý večer zadarmo.
            To vše v rámci ceny, která je v tomto případě dosti přijatelná. Na naší akci se můžete pobavit s nejbižšími, zatančit si a zařádit na známé
            ale i underground písně ale hlavně si užít pořádně našlapaný večer.
            ">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" style="width: 50%; display: inline-block;">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../../../assets/images/GR5_Banner.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/images/GN4_Banner_DEMO.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/images/GNBanner.png" class="d-block w-100" alt="...">
                  </div>
                </div>
              </div>
            </app-card>
        </section>
        <section class="main_page_section" id="music">
            <app-card title="Hudba" text="Grove Night je multižánrově založená taneční akce, tudíž u nás můžete očekávat všechny možné žánry hudby.
            Některé preferované si můžete projít níže.">
            <span>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                Proin pede metus, vulputate nec, fermentum fringilla, vehicula vitae, justo. 
                In enim a arcu imperdiet malesuada. Mauris dolor felis, sagittis at, luctus sed, aliquam non, tellus. 
                Donec vitae arcu. Nullam lectus justo, vulputate eget mollis sed, tempor sed magna. Fusce dui leo, imperdiet in, aliquam sit amet, 
                feugiat eu, orci. Nullam sit amet magna in magna gravida vehicula. Nulla pulvinar eleifend sem. Itaque earum rerum hic tenetur a 
                sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. Praesent
                in mauris eu tortor porttitor accumsan. Nullam lectus justo, vulputate eget mollis sed, tempor sed magna. Donec iaculis gravida
                nulla. Phasellus et lorem id felis nonummy placerat. Nam quis nulla. Duis viverra diam non justo. Aenean fermentum risus id tortor.
                Donec iaculis gravida nulla.
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                Proin pede metus, vulputate nec, fermentum fringilla, vehicula vitae, justo. 
                In enim a arcu imperdiet malesuada. Mauris dolor felis, sagittis at, luctus sed, aliquam non, tellus. 
                Donec vitae arcu. Nullam lectus justo, vulputate eget mollis sed, tempor sed magna. Fusce dui leo, imperdiet in, aliquam sit amet, 
                feugiat eu, orci. Nullam sit amet magna in magna gravida vehicula. Nulla pulvinar eleifend sem. Itaque earum rerum hic tenetur a 
                sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. Praesent
                in mauris eu tortor porttitor accumsan. Nullam lectus justo, vulputate eget mollis sed, tempor sed magna. Donec iaculis gravida
                nulla. Phasellus et lorem id felis nonummy placerat. Nam quis nulla. Duis viverra diam non justo. Aenean fermentum risus id tortor.
                Donec iaculis gravida nulla.
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                Proin pede metus, vulputate nec, fermentum fringilla, vehicula vitae, justo. 
                In enim a arcu imperdiet malesuada. Mauris dolor felis, sagittis at, luctus sed, aliquam non, tellus. 
                Donec vitae arcu. Nullam lectus justo, vulputate eget mollis sed, tempor sed magna. Fusce dui leo, imperdiet in, aliquam sit amet, 
                feugiat eu, orci. Nullam sit amet magna in magna gravida vehicula. Nulla pulvinar eleifend sem. Itaque earum rerum hic tenetur a 
                sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. Praesent
                in mauris eu tortor porttitor accumsan. Nullam lectus justo, vulputate eget mollis sed, tempor sed magna. Donec iaculis gravida
                nulla. Phasellus et lorem id felis nonummy placerat. Nam quis nulla. Duis viverra diam non justo. Aenean fermentum risus id tortor.
                Donec iaculis gravida nulla.
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                Proin pede metus, vulputate nec, fermentum fringilla, vehicula vitae, justo. 
                In enim a arcu imperdiet malesuada. Mauris dolor felis, sagittis at, luctus sed, aliquam non, tellus. 
                Donec vitae arcu. Nullam lectus justo, vulputate eget mollis sed, tempor sed magna. Fusce dui leo, imperdiet in, aliquam sit amet, 
                feugiat eu, orci. Nullam sit amet magna in magna gravida vehicula. Nulla pulvinar eleifend sem. Itaque earum rerum hic tenetur a 
                sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. Praesent
                in mauris eu tortor porttitor accumsan. Nullam lectus justo, vulputate eget mollis sed, tempor sed magna. Donec iaculis gravida
                nulla. Phasellus et lorem id felis nonummy placerat. Nam quis nulla. Duis viverra diam non justo. Aenean fermentum risus id tortor.
                Donec iaculis gravida nulla.
            </span>
            </app-card>
        </section>
        <section class="main_page_section" id="contact">
            <app-card title="Kontakt">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                Proin pede metus, vulputate nec, fermentum fringilla, vehicula vitae, justo. 
                In enim a arcu imperdiet malesuada. Mauris dolor felis, sagittis at, luctus sed, aliquam non, tellus. 
                Donec vitae arcu. Nullam lectus justo, vulputate eget mollis sed, tempor sed magna. Fusce dui leo, imperdiet in, aliquam sit amet, 
                feugiat eu, orci. Nullam sit amet magna in magna gravida vehicula. Nulla pulvinar eleifend sem. Itaque earum rerum hic tenetur a 
                sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. Praesent
                in mauris eu tortor porttitor accumsan. Nullam lectus justo, vulputate eget mollis sed, tempor sed magna. Donec iaculis gravida
                nulla. Phasellus et lorem id felis nonummy placerat. Nam quis nulla. Duis viverra diam non justo. Aenean fermentum risus id tortor.
                Donec iaculis gravida nulla.
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                Proin pede metus, vulputate nec, fermentum fringilla, vehicula vitae, justo. 
                In enim a arcu imperdiet malesuada. Mauris dolor felis, sagittis at, luctus sed, aliquam non, tellus. 
                Donec vitae arcu. Nullam lectus justo, vulputate eget mollis sed, tempor sed magna. Fusce dui leo, imperdiet in, aliquam sit amet, 
                feugiat eu, orci. Nullam sit amet magna in magna gravida vehicula. Nulla pulvinar eleifend sem. Itaque earum rerum hic tenetur a 
                sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. Praesent
                in mauris eu tortor porttitor accumsan. Nullam lectus justo, vulputate eget mollis sed, tempor sed magna. Donec iaculis gravida
                nulla. Phasellus et lorem id felis nonummy placerat. Nam quis nulla. Duis viverra diam non justo. Aenean fermentum risus id tortor.
                Donec iaculis gravida nulla.
            </app-card>
        </section>
  </div>
</body>

<div class="navbar">
    <div class="box-wrap">
        <div class="box">
    <a href="#home">
        <i class="fa-solid fa-house fa-xl"></i>
    </a>
        </div>
        <div class="box">
    <a href="#about">
        <i class="fa-sharp fa-solid fa-circle-question fa-xl"></i>
    </a>
        </div>
        <div class="box">
    <a href="#music">
        <i class="fa-solid fa-music fa-xl"></i>
    </a>
        </div>
        <div class="box">
    <a href="#contact">
        <i class="fa-solid fa-address-book fa-xl"></i>
    </a>
        </div>
        <div class="box">
    <a href="#">
        <i class="fa-solid fa-right-to-bracket fa-xl"></i>
    </a>
        </div>
    </div>
</div>                                                                                                  