<head>
  <meta charset="utf-8">
  <script src="https://kit.fontawesome.com/9ce6b11ca0.js" crossorigin="anonymous"></script>
</head>

  <body>
    <div>
      <span>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nunc felis, rutrum eget eros sit amet, molestie tristique elit. Donec eget nunc lacus. Quisque fermentum consequat placerat. Morbi mauris tellus, lobortis vitae sem quis, rutrum interdum magna. Cras ut odio faucibus, commodo massa id, mattis est. Cras ac feugiat orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel condimentum lectus.

In sagittis facilisis dui, sit amet luctus nisl semper id. Praesent tincidunt massa dui, nec aliquet libero interdum vel. Nunc vitae fringilla purus. Vivamus vel maximus tellus. Nullam in lacus ac orci dictum vestibulum vitae faucibus dui. In et nisi sit amet tellus placerat dignissim. Praesent eget dui eu urna rutrum tristique ut a tellus.

Suspendisse potenti. Aliquam non risus tempus, pretium nisl at, blandit arcu. Nam non felis semper, pulvinar sem semper, fermentum justo. Cras interdum nec libero eu tempor. Aenean fringilla tempus dolor, ut viverra dolor porttitor id. Maecenas imperdiet leo vel arcu condimentum faucibus. Proin vulputate leo id rhoncus convallis. Quisque posuere, massa nec fermentum ullamcorper, felis purus rhoncus ante, sit amet venenatis libero ante a tortor.

Proin augue neque, egestas et augue sed, posuere ultrices felis. Nulla pretium a mi ut porta. Donec in purus ex. Duis mi lectus, semper et bibendum sit amet, euismod ac tellus. Morbi at metus viverra sapien blandit imperdiet in sed lacus. Nam mollis neque diam, ac congue leo sagittis quis. Ut ac lacinia lacus.

Donec eget mattis odio. Nunc in nulla eu velit lobortis eleifend id nec arcu. Suspendisse laoreet dictum gravida. Vivamus nec ante convallis, sagittis tortor et, vulputate lorem. Integer condimentum faucibus dui, eu efficitur lectus volutpat in. Nunc at metus in mi interdum posuere quis placerat sapien. Mauris dapibus sapien id dui eleifend, ac imperdiet metus placerat. Sed lacus ligula, tristique sit amet massa sit amet, finibus lacinia ex. Etiam dignissim venenatis elit et venenatis. Vivamus placerat, ante id vulputate fermentum, magna magna rutrum diam, vitae eleifend sapien sem non magna. Sed a euismod ante. Quisque faucibus bibendum urna nec imperdiet. Nulla vitae maximus sem. Phasellus dui urna, commodo vel euismod non, tincidunt nec dui. Nullam quis enim nec ante blandit suscipit condimentum ac turpis.

Suspendisse finibus cursus elit sed auctor. Morbi quis dignissim velit. Nullam at convallis risus. Curabitur eleifend augue nisl, sit amet ultrices dolor vehicula vitae. Fusce lorem lectus, posuere a imperdiet nec, maximus at leo. Ut tincidunt lobortis scelerisque. In scelerisque tristique enim, nec pharetra ex malesuada ac. Ut vitae fringilla elit. Proin enim felis, bibendum quis ante vel, faucibus finibus arcu. Sed placerat faucibus rhoncus.

Donec ante risus, maximus ut malesuada ut, posuere ac erat. Praesent semper sem eget tellus blandit sodales. Pellentesque vehicula elit vitae mi tempus, non commodo massa rhoncus. Ut rhoncus nec tellus quis posuere. Praesent in ullamcorper lectus, vel euismod dolor. In luctus mattis risus nec semper. Praesent laoreet ipsum et erat luctus, sit amet iaculis arcu egestas. Integer pharetra, lectus in dapibus tempor, augue nunc posuere nibh, in convallis odio mauris cursus turpis. Fusce massa nisl, cursus nec leo a, aliquet aliquam leo. Sed ac leo sit amet tortor mattis rhoncus ut eu est.

Maecenas non placerat nunc. Integer sed convallis libero. Vestibulum augue erat, venenatis in justo quis, ullamcorper mattis urna. Curabitur molestie consectetur lorem, vitae eleifend lacus luctus vitae. Aliquam erat volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Integer sit amet feugiat ante. Nullam elementum varius mi vitae dignissim. Mauris quis risus id lacus molestie fermentum at non nisi. Etiam euismod dolor eu ex lobortis tristique. Phasellus consequat scelerisque mauris nec dictum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse sit amet enim eget est tincidunt facilisis et ut justo. Integer at neque vel elit aliquam pellentesque. Aenean ac risus pulvinar magna efficitur pretium tempus quis eros. Vivamus erat mi, pellentesque ac congue in, interdum id tortor.

Mauris luctus mauris a dolor consectetur, sed condimentum lacus hendrerit. Nunc dapibus elit et lacus dignissim faucibus vitae porttitor magna. Suspendisse rutrum tristique diam, eget porttitor tellus malesuada eu. Donec tristique et enim quis porta. Mauris ultrices fringilla massa, eget vestibulum nisl tincidunt eget. Donec orci libero, vehicula quis vulputate eu, lacinia sit amet ipsum. Mauris cursus nunc et luctus ullamcorper. Ut tincidunt tortor id ipsum hendrerit, eget sollicitudin erat auctor. Curabitur lacus augue, finibus a feugiat non, volutpat et magna. Curabitur convallis ac quam pulvinar pulvinar. Morbi sit amet libero id lorem sollicitudin ultricies eu dictum tellus. In eget turpis non tellus ullamcorper ornare.

Mauris nec arcu sit amet arcu dictum euismod in at tellus. Donec ullamcorper ac enim eu pellentesque. Maecenas nunc elit, cursus in felis vitae, lobortis ornare sapien. In diam tortor, rutrum non purus sed, hendrerit scelerisque felis. Cras porttitor felis nec dolor hendrerit, eget ultricies ante accumsan. Donec iaculis quam sit amet posuere scelerisque. Ut congue semper nulla, eu tincidunt dui fringilla eu. Fusce pulvinar faucibus turpis, vitae euismod dui mollis nec. Suspendisse porttitor non ex sit amet fermentum. Integer congue enim at laoreet sodales. Etiam mattis eros at est laoreet, a vulputate dolor pulvinar. Proin mattis lectus tortor, et feugiat purus eleifend non. Morbi vel ante tortor. Nullam quis lobortis nibh. Curabitur fringilla libero sit amet eros elementum elementum. Pellentesque finibus elit eu ex posuere molestie.

Mauris semper faucibus orci at maximus. Ut vel eros massa. Fusce ac libero nec ligula congue feugiat. Aenean nisl metus, venenatis et leo sed, hendrerit maximus mauris. Nam tempus accumsan sem, quis dictum mi dapibus eget. Vivamus iaculis felis at felis accumsan commodo. Nunc gravida turpis vitae lorem volutpat commodo. Sed interdum metus a nunc cursus mattis. Sed velit nunc, lacinia nec nulla et, volutpat rhoncus quam. Phasellus ligula dui, volutpat ac erat vel, luctus elementum neque. Suspendisse gravida feugiat nisl, at scelerisque augue lacinia sed. Aliquam lectus sem, varius quis rutrum a, mollis at massa. Mauris dolor mi, finibus a nulla non, porttitor egestas risus.

Quisque feugiat molestie suscipit. Fusce sit amet pharetra augue. Vivamus lobortis fermentum quam. Vivamus vehicula interdum diam, nec tempus massa condimentum eu. In hac habitasse platea dictumst. Fusce sollicitudin lectus aliquet arcu eleifend, in luctus felis rhoncus. Donec ut luctus est. Quisque rhoncus elit at libero feugiat maximus. Nulla nec convallis neque, nec fringilla felis. Aenean maximus consectetur lacus non gravida. Aenean rhoncus ex et pellentesque pellentesque.

Integer maximus arcu vitae tincidunt finibus. Donec nec tortor id nisl pharetra fringilla. In hac habitasse platea dictumst. Nullam ullamcorper massa a arcu blandit aliquam. Sed sollicitudin lacinia lorem, ut malesuada nisi dictum ut. Fusce semper tellus quis enim elementum condimentum. Integer sed lorem ornare urna luctus suscipit.

Aenean imperdiet lectus vel eros ultricies auctor. Ut sollicitudin placerat ligula eget tincidunt. Sed fermentum turpis vitae libero dignissim mattis. Fusce gravida arcu elementum sapien dictum, in molestie sem ullamcorper. Aliquam venenatis, lectus non venenatis rhoncus, eros neque tempor mauris, in euismod risus velit non ipsum. Praesent ornare congue porta. Suspendisse odio sapien, faucibus at elementum ac, tincidunt condimentum nibh. Fusce eget augue bibendum, venenatis velit in, venenatis orci. Donec nec orci ultricies, pharetra enim sed, mattis felis. Duis et finibus nulla. Aenean elementum at dui et consectetur. Praesent fringilla sapien eu nunc pellentesque, in maximus lectus aliquam. Mauris ac neque id massa ultrices tempor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc gravida nibh sit amet cursus dignissim. Sed sodales ante vel nisi consequat, in vestibulum nibh semper.

Quisque euismod, ex nec gravida rutrum, est massa vestibulum felis, et luctus sapien ligula vel mi. Duis elementum augue justo, eu fringilla justo pharetra a. Aliquam erat volutpat. Aenean sit amet pulvinar eros, ut mollis lorem. Aenean mollis enim ut est feugiat, eget commodo ipsum volutpat. Aenean consectetur at nunc elementum eleifend. Curabitur eleifend odio sed hendrerit tincidunt.
    </span>
  </div>
</body>

<div class="navbar">
    <div class="box-wrap">
        <div class="box">
    <a href="#">
        <i class="fa-solid fa-house fa-xl"></i>
    </a>
        </div>
        <div class="box">
    <a href="#">
        <i class="fa-solid fa-calendar-days fa-xl"></i>
    </a>
        </div>
        <div class="box">
    <a href="#">
        <i class="fa-solid fa-address-book fa-xl"></i>
    </a>
    </div>
    <div class="box">
    <a href="#">
        <i class="fa-solid fa-right-to-bracket fa-xl"></i>
    </a>
    </div>
    </div>
</div>

 